.avatar-img {
  width: 150px;
  height: 100%;
  border-radius: 1rem;
  border-width: 6px;
  border-style: solid;
  object-fit: cover;
}

.avatar-active {
  border-color: var(--primary);
}

.avatar-default {
  border-color: transparent;
}
